NODE_ENV=development
NEXT_BASE_URL=https://rose-app.elevate-bootcamp.cloud/api/
NEXTAUTH_SECRET=cabdd2d7858b0f63559f5e0e529845ec4b8f223087725a3de17304657f0c2871

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SESSION_MAXAGE=86400
NEXT_AUTH_SESSION_COOKIE=next-auth.session-token